@font-face {
    font-family: 'Poppins';
    src: url('../fonts/BlackItalic.eot');
    src: url('../fonts/BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackItalic.woff2') format('woff2'),
        url('../fonts/BlackItalic.woff') format('woff'),
        url('../fonts/BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Bold.eot');
    src: url('../fonts/Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bold.woff2') format('woff2'),
        url('../fonts/Bold.woff') format('woff'),
        url('../fonts/Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Black.eot');
    src: url('../fonts/Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Black.woff2') format('woff2'),
        url('../fonts/Black.woff') format('woff'),
        url('../fonts/Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ExtraBold.eot');
    src: url('../fonts/ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraBold.woff2') format('woff2'),
        url('../fonts/ExtraBold.woff') format('woff'),
        url('../fonts/ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/BoldItalic.eot');
    src: url('../fonts/BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BoldItalic.woff2') format('woff2'),
        url('../fonts/BoldItalic.woff') format('woff'),
        url('../fonts/BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ExtraBoldItalic.eot');
    src: url('../fonts/ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/ExtraBoldItalic.woff') format('woff'),
        url('../fonts/ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Italic.eot');
    src: url('../fonts/Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Italic.woff2') format('woff2'),
        url('../fonts/Italic.woff') format('woff'),
        url('../fonts/Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/LightItalic.eot');
    src: url('../fonts/LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LightItalic.woff2') format('woff2'),
        url('../fonts/LightItalic.woff') format('woff'),
        url('../fonts/LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ExtraLight.eot');
    src: url('../fonts/ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraLight.woff2') format('woff2'),
        url('../fonts/ExtraLight.woff') format('woff'),
        url('../fonts/ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ExtraLightItalic.eot');
    src: url('../fonts/ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/ExtraLightItalic.woff') format('woff'),
        url('../fonts/ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Light.eot');
    src: url('../fonts/Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Light.woff2') format('woff2'),
        url('../fonts/Light.woff') format('woff'),
        url('../fonts/Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Medium.eot');
    src: url('../fonts/Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Medium.woff2') format('woff2'),
        url('../fonts/Medium.woff') format('woff'),
        url('../fonts/Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/MediumItalic.eot');
    src: url('../fonts/MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MediumItalic.woff2') format('woff2'),
        url('../fonts/MediumItalic.woff') format('woff'),
        url('../fonts/MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/SemiBold.eot');
    src: url('../fonts/SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SemiBold.woff2') format('woff2'),
        url('../fonts/SemiBold.woff') format('woff'),
        url('../fonts/SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Regular.eot');
    src: url('../fonts/Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Regular.woff2') format('woff2'),
        url('../fonts/Regular.woff') format('woff'),
        url('../fonts/Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/SemiBoldItalic.eot');
    src: url('../fonts/SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SemiBoldItalic.woff') format('woff'),
        url('../fonts/SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ThinItalic.eot');
    src: url('../fonts/ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThinItalic.woff2') format('woff2'),
        url('../fonts/ThinItalic.woff') format('woff'),
        url('../fonts/ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Thin.eot');
    src: url('../fonts/Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Thin.woff2') format('woff2'),
        url('../fonts/Thin.woff') format('woff'),
        url('../fonts/Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Bold.eot');
    src: url('../fonts/Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bold.woff2') format('woff2'),
        url('../fonts/Bold.woff') format('woff'),
        url('../fonts/Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/ExtraBold.eot');
    src: url('../fonts/ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraBold.woff2') format('woff2'),
        url('../fonts/ExtraBold.woff') format('woff'),
        url('../fonts/ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Black.eot');
    src: url('../fonts/Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Black.woff2') format('woff2'),
        url('../fonts/Black.woff') format('woff'),
        url('../fonts/Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/ExtraLight.eot');
    src: url('../fonts/ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraLight.woff2') format('woff2'),
        url('../fonts/ExtraLight.woff') format('woff'),
        url('../fonts/ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/BlackItalic.eot');
    src: url('../fonts/BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackItalic.woff2') format('woff2'),
        url('../fonts/BlackItalic.woff') format('woff'),
        url('../fonts/BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/BoldItalic.eot');
    src: url('../fonts/BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BoldItalic.woff2') format('woff2'),
        url('../fonts/BoldItalic.woff') format('woff'),
        url('../fonts/BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/ExtraBoldItalic.eot');
    src: url('../fonts/ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/ExtraBoldItalic.woff') format('woff'),
        url('../fonts/ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Italic.eot');
    src: url('../fonts/Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Italic.woff2') format('woff2'),
        url('../fonts/Italic.woff') format('woff'),
        url('../fonts/Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/LightItalic.eot');
    src: url('../fonts/LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LightItalic.woff2') format('woff2'),
        url('../fonts/LightItalic.woff') format('woff'),
        url('../fonts/LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Medium.eot');
    src: url('../fonts/Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Medium.woff2') format('woff2'),
        url('../fonts/Medium.woff') format('woff'),
        url('../fonts/Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/ExtraLightItalic.eot');
    src: url('../fonts/ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/ExtraLightItalic.woff') format('woff'),
        url('../fonts/ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Light.eot');
    src: url('../fonts/Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Light.woff2') format('woff2'),
        url('../fonts/Light.woff') format('woff'),
        url('../fonts/Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

